[submodule "Noise2Noise-audio_denoising_without_clean_training_data"]
	path = Noise2Noise-audio_denoising_without_clean_training_data
	url = https://github.com/madhavmk/Noise2Noise-audio_denoising_without_clean_training_data.git
